body {
    font-family: 'Arial', sans-serif;
    background-image: linear-gradient(#0e1a26, #182531, #223544);
    color: #fff;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #1e3648a3;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 10;
}

header img {
    width: 150px;
    height: auto;
}

header h1 {
    font-size: 2rem;
    text-align: center;
    flex-grow: 1;
    margin: 0;
    color: #fff;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

    animation: pulse 2s infinite;
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    header h1 {
        font-size: 1.5rem;
        margin-top: 10px;
    }

    header img {
        margin-bottom: 10px;
    }
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
    padding: 50px;
    animation: backInDown;
    animation-duration: 2s;
}

.card {
    background-color: #26455ec4;
    border-radius: 15px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 570px;
    padding: 20px;
    overflow: hidden;
}

.card:hover {
    animation: pulse;
    animation-duration: 2s;
}

.card-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #1e3648;
}

.card-content {
    text-align: left;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 0 10px;
    color: #fff;
    text-align: center;
}

.card-text {
    font-size: 0.9rem;
    color: #b0c4d4;
    margin-bottom: 15px;
    text-align: center;
}

.card-info {
    font-size: 1rem;
    color: #00fff7;
    font-weight: bold;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.content-info {
    display: flex;
    align-items: center;
    gap: 5px;
}

.image-price {
    width: 20px;
    height: auto;
}

.save-icon {
    width: 25px;
    height: auto;
}

.profile {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.profile-avatar {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    border: 1px solid #fff;
    background-color: #1e3648;
}

.profile-name {
    font-size: 0.9rem;
    color: #fff;
}

.profile-name span {
    font-weight: bold;
}